{% extends "layout.html" %}

{% block pageTitle %}
  Funding
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <h1 class="govuk-heading-xl">What is your estimated funding requirement?</h1> -->

      <form action="funding" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Who is leading the project?
              </h1>
            </legend>
            <p></p>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="org-type-1" name="org-type" type="radio" value="regulatory">
                <label class="govuk-label govuk-radios__label" for="org-type-1">
                  Public body (such as the Environment Agency or the Coal Authority)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="org-type-2" name="org-type" type="radio" value="local-authority">
                <label class="govuk-label govuk-radios__label" for="org-type-2">
                  Local authority
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="org-type-3" name="org-type" type="radio" value="community-group">
                <label class="govuk-label govuk-radios__label" for="org-type-3">
                  Community group/registered charity
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="org-type-4" name="org-type" type="radio" value="landowner">
                <label class="govuk-label govuk-radios__label" for="org-type-4">
                  Farmer/landowner
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="org-type-5" name="org-type" type="radio" value="landowner">
                <label class="govuk-label govuk-radios__label" for="org-type-5">
                  Private business (such as a water company)
                </label>
              </div>

            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
