{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-width-container">
  
      
        <main class="govuk-main-wrapper">
      
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl">Sign up for email notifications</h1>
              <p class="govuk-body">We'll send you an email notification whenever new funding is released that matches your criteria.</p>
              <p class="govuk-body">Before signing up for email notifications, you can check and change your criteria. </p>
         
    

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Which area will the project be in?
          </dt>
          <dd class="govuk-summary-list__value">
            Upper Thames
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> location</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Who is leading the project?
          </dt>
          <dd class="govuk-summary-list__value">
            Community group/registered charity
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> organisation</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How much funding do you think you'll need?
          </dt>
          <dd class="govuk-summary-list__value">
            over £100,000
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> funding</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What will the benefits of your project be?
          </dt>
          <dd class="govuk-summary-list__value">
            <p>Community/volunteer engagement, improving biodiversity and habitat, improving soil health, improving water quality</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> benefits</span>
            </a>
          </dd>
        </div>
      </dl>





      <form action="email-2" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>
    </div>
  </div>

</main>
</div>
    </div>
  </div>
{% endblock %}
