{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Sign up complete</h1>
        <div class="govuk-panel__body">
          {{ data['email'] }}
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We'll send you an email when new funding is released that matches your criteria.</p>
      <p>&nbsp;</p>
      <p><a href="results">Return to results page</a></p>

    </div>
  </div>

{% endblock %}
