{% extends "layout.html" %}

{% block pageTitle %}
Flood map for planning
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Find funding for natural flood management
    </h1>

    <br>

    <p>This prototype is a way of exploring ideas and is subject to change. Each iteration includes details of the changes made to content and interaction. It records the decisions we made and the reasons why we made them. </p>

    <h2 class="govuk-heading-m">
      Change log
    </h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Comments</th>
          <th class="govuk-table__header" scope="col" style="width:7em">Link</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">20/10/2020</td>
          <td class="govuk-table__cell">Added pages for 'Sign up for email notifications' functionality

            <details class="govuk-details" data-module="govuk-details"><summary class="govuk-details__summary"><span class="govuk-details__summary-text">
      Full history of design decisions 
      </span></summary><div class="govuk-details__text">

          <h3 class="govuk-heading-s">Version 4 changes</h3>

          <p>Results page</p>
            <ul class="govuk-list govuk-list">
              <li>
                <b>Action</b>: Changed microcopy for email alert link.
              </li>
              <li>
                <b>Reason</b>: Feedback from users suggested it would be more useful to receive email alerts/ updates, rather than to receive a copy of the results. 

                After a peer review of the microcopy with other Defra content designers, we decided on ‘get email alerts about new funding’ because: 
                A) it’s shorter, and therefore easier to read than other options, such as ‘sign up for email updates’
                B) it explains to users what the email alerts would be for (rather than the specialist publisher microcopy which is ‘get email alerts’).  
              </li>
            </ul>

            <p>Email alerts sign up page</p>

            <ul class="govuk-list govuk-list">
            <li>
              <b>Action</b>: New page.
            </li>
            <li>
              <b>Reason</b>: Functionality to allow users to sign up for email alerts. 
            </li>
          </ul>

          <p>Email alerts sign up confirmation page</p>

            <ul class="govuk-list govuk-list">
            <li>
              <b>Action</b>: New page. 
            </li>
            <li>
              <b>Reason</b>: Functionality to allow users to sign up for email alerts. 
            </li>
          </ul>

        </div></details></td>

          <td class="govuk-table__cell"><a href="version-4/start.html">Version 4</a></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">13/10/2020</td>
          <td class="govuk-table__cell">Reworked the Location page to allow for different search parameters (eg county/town/catchment) as some users had questioned the relevance of the Regions list. Made content changes to Results page, to highlight the 'need more help' link, added 'email results' link, and tweaked the content of the Results list

            <details class="govuk-details" data-module="govuk-details"><summary class="govuk-details__summary"><span class="govuk-details__summary-text">
      Full history of design decisions 
      </span></summary><div class="govuk-details__text">

          <h3 class="govuk-heading-s">Version 3 changes</h3>

          <p>Start page</p>
            <ul class="govuk-list govuk-list">
              <li>
                <b>Action</b>: Added ‘private business’ to bulleted list.
              </li>
              <li>
                <b>Reason</b>: Some funding can also come from private businesses. 
              </li>
            </ul>

            <p>Location page</p>

            <ul class="govuk-list govuk-list">
            <li>
              <b>Action</b>: Removed list of regions and replaced with a text input with autocomplete. Users can search for a county, town/ city or a catchment.
            </li>
            <li>
              <b>Reason</b>: Asking users to identify a region was too problematic. Some users weren’t sure which region they were in, or what the official region boundaries were. 
            </li>
          </ul>

          <p>Map page</p>

            <ul class="govuk-list govuk-list">
            <li>
              <b>Action</b>: Removed text at top about showing users national as well as regional results. 
            </li>
            <li>
              <b>Reason</b>: Felt this would be confusing and no longer necessary, as we no longer giver users a list of regions on the previous page. 
            </li>
          </ul>

          <p>Benefits page</p>

            <ul class="govuk-list govuk-list">
            <li>
              <b>Action</b>: Pulled out content with inset text component from the design system. 
            </li>
            <li>
              <b>Reason</b>: Users don’t always read the content at the top of the page. We want to highlight to inexperienced users in particular what the purpose of the page is. 
            </li>
          </ul>

          <p>Results page</p>

            <ul class="govuk-list govuk-list">
            <li>
              <b>Action</b>: Altered content at top of page in second paragraph.  
            </li>
            <li>
              <b>Reason</b>: To make it clearer to users that not all funding is specifically for NFM, but may be for other environmental work. Aim is to encourage less experienced users to think carefully about the other benefits of their project when they apply for funding. We want to avoid users thinking they can apply for projects without being able to prove they can deliver in certain areas. 
            </li>
            <li>
              <b>Action</b>: Added ‘need more help?’ heading.  
            </li>
            <li>
              <b>Reason</b>: Users don’t seem to notice the help page link, so we’ve added a heading to make that content more prominent. 
            </li>
            <li>
              <b>Action</b>: Added in ‘get these results in an email’ link.  
            </li>
            <li>
              <b>Reason</b>: Users expressed a desire to be able to sign up for email notifications/ see their results in an email. 
            </li>
            <li>
              <b>Action</b>: Edited info under each result. No longer shows region. Shows funding areas. External links edited to make them accessible.  
            </li>
            <li>
              <b>Reason</b>: As we no longer ask for a region, it seems confusing to show this information. Giving users info about the funding areas to make it easier for them to decide which results look appropriate for them.
            </li>
          </ul>

          <p>Help page</p>

            <ul class="govuk-list govuk-list">
            <li>
              <b>Action</b>: Used bullet points to make text at top of page more scannable. 
            </li>
            <li>
              <b>Reason</b>: The text was previously all in one paragraph - this should make it easier for users to scan and read.
            </li>
          </ul>

        </div></details></td>

          <td class="govuk-table__cell"><a href="version-3/start.html">Version 3</a></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">02/10/2020</td>
          <td class="govuk-table__cell">Simplified Results page as the Specialist Publisher UI was confusing to some users. Added map as alternative method for specifying the region/area of the project, as some users had questioned the boundaries of the region names in version 1  

          <details class="govuk-details" data-module="govuk-details"><summary class="govuk-details__summary"><span class="govuk-details__summary-text">
      Full history of design decisions 
      </span></summary><div class="govuk-details__text">

          <h3 class="govuk-heading-s">Version 2 changes</h3>

          <p>Location page</p>
            <ul class="govuk-list govuk-list">
              <li>
                <b>Action</b>: Changed title from 'region' to 'area'
              </li>
              <li>
                <b>Reason</b>: 'Region' can mean different things to different people. ‘Area’ is a more generic term. 
              </li>
              <li>
                <b>Action</b>: Added map feature - so users can find location on a map. 
              </li>
              <li>
                <b>Reason</b>: Some users weren’t sure which area to choose as they are on a border, or span 2 different areas.
              </li>
            </ul>

            <p>Results page</p>

            <ul class="govuk-list govuk-list">
            <li>
              <b>Action</b>: Moved away from specialist publisher. Displaying results in a simpler way.
            </li>
            <li>
              <b>Reason</b>: Users struggled when interacting with specialist publisher layout - they didn’t understand the purpose of the search box or filters. 
            </li>
            <li>
              <b>Action</b>: Each result links to further information on the funder’s website, rather than a separate page on GOV.UK about that fund. 
            </li>
            <li>
              <b>Reason</b>: It seemed more easier (from a maintenance perspective) to take users directly to the funder’s website, rather than a separate page on GOV.UK about that result.
            </li>
          </ul>
        </div></details></td>

          <td class="govuk-table__cell"><a href="version-2/start.html">Version 2</a></td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">21/09/2020</td>
          <td class="govuk-table__cell">Initial version created for first round of user testing, using our initial discovery wireframe as the basis.</td>
          <td class="govuk-table__cell"><a href="version-1/start.html">Version 1</a></td>
        </tr>
      </tbody>
    </table>

    <br><br>



  </div>
</div>

{% endblock %}
