{% extends "layout.html" %}

{% block pageTitle %}
NFM alpha Start page
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
}) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl heading-with-caption">
      Other ways...
    </h1>
    <p>Your project may be eligible for funding from the following sources.</p>
      <p>We can't show you all the funding that’s available across England. You should still look for other funds that might be available.</p>
     


  </div>


</div>
{% endblock %}
